html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom code*/
body{
	background-color: #ff9000;
}

#container{
	width: 80%;
	min-height: 300px;
	background-color: #FFF;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid black 2px;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.Title{
	height: 80px;
	line-height: 80px;
	vertical-align: top;
	margin-left: 20px;
	font-weight: bold;
    font-size: xx-large;
    padding-left: 20px;
}
nav{
	border-top: solid black 2px;
	border-bottom: solid black 2px;
}

nav li{
	display: inline-block;
	width: calc(20% - 6px);
	height: 30px;
	line-height: 30px;
	border-right: solid black 2px;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.lastList{
	border-right: solid black 0px;
}

nav a{
	text-decoration: none;
	color: #000;
	background-color: #FFF;
	display: block;
}
.lastList{
	border-right: solid black 0px;
}

nav a{
	text-decoration: none;
	color: #000;
	background-color: #FFF;
	display: block;
}

#sep article{
	display: inline-block;
	width: calc(50% - 45px);
	text-align: justify;
	vertical-align: top;
}
#sep article h2{
	display: inline-block;
	height: 80px;
	line-height: 80px;
	vertical-align: top;
	font-weight: bold;
}

#sep article a{
	float: center;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	color: #000;
    display: block;
    text-align: center;
}

#sep article>div{
	margin-bottom: 10px;
}

.addpadd{
    padding: 20px;
}

hr{
    width: 20%;
    text-align: center;
    height:2px;
    background-color: #000;
    border: solid black 2px;
}

#textleft{
	text-align: justify;
    padding: 20px;
}

#textleft aside{
	border: solid black 2px;
	width: 240px;
	padding: 15px;
	margin: 0px 20px 20px 0px;
}

#textleft aside{
	float: left;
}

#pic article{
	display: inline-block;
	width: calc(33.33% - 45px);
	text-align: justify;
	vertical-align: top;
}

#pic article img{
	width: 50%;
	display: inline-block;

}

#pic article h2{
	display: inline-block;
	height: 80px;
	line-height: 80px;
	vertical-align: top;
	margin-left: 20px;
	font-weight: bold;
}

#pic article a{
	float: right;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

#pic article>div{
	margin-bottom: 10px;
}

footer h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#socials{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#socials img{
    padding-left: 40px;
}



.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    border-radius: 100%;
    margin-bottom: 40px;
}

footer svg {
    display:flex
}