/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: aquamarine;
}

header{
    background-image: url(media/banner.jpg);
    background-size: 100% 130px;
}
header>h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
	font-weight: bold;
	text-align: center;
}
#container{
	width: 1000px;
	min-height: 300px;
	background-color: #FFF;
	margin: auto;
	margin-bottom: 30px;
}
nav ul{
    border-bottom:solid black 2px ;

}
nav li{
	display: inline-block;
	width: calc(25% - 5px);
	height: 30px;
	line-height: 30px;
	border-right: solid black 2px;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.lastList{
	border-right: solid black 0px;
}

nav a{
	text-decoration: none;
	color: #000;
	background-color: #FFF;
	display: block;
}


.Title{
	height: 80px;
	line-height: 80px;
	vertical-align: top;
	margin-left: 20px;
	font-weight: bold;
    font-size: xx-large;
    padding-left: 20px;
}
#textright{
	text-align: justify;
    padding: 20px 40px 20px 40px;
}
#textright aside{
    background-color: lightyellow;
	width: 240px;
	padding: 15px;
	margin: 0px 0px 20px 20px;
}

#textright aside>h2{
    font-weight: bolder;
}
#textright p{
    text-indent: 20px;
    text-align: justify;
}
#textright aside{
	float: right;
}
.centerimg{
    display: flex;
    justify-content: center;
    align-items: center;
}


#middlepart{
    padding: 20px 40px 20px 40px;
}

#middlepart p{
    text-indent: 20px;
    text-align: justify;
}
#middlepart ol{
    padding: 10px 0px 0px 30px;
    font-weight: bold;
}
#middlequote{
    text-align: center;
    padding-bottom: 20px;
}
#middlequote h1{
    font-weight: bold;
    font-size: xx-large;
}

.lowcentername{
    padding-left: 20%;
}
.lowcenterbook{
    font-style: italic;
}

#paragraph{
    text-indent: 20px;
    text-align: justify;
    padding: 20px 40px 20px 40px;
}

table, th, td {
    border: 1px solid;
}

th{
    font-weight: bold;
}
.centervalue{
    text-align: center;
}
.addpadd{
    padding-left: 40px;
}
