@media screen and (max-width: 1100px) {
	#actus article:nth-child(1),#actus article:nth-child(2) {
		width: calc(50% - 15px);   
	}

    #actus article:nth-child(3){
        width: 100%;
    }

    #tableau table{
        width : calc(50% - 15px);
    }
}